<%- include('../partials/header') %>

     <ul>
       <% skills.forEach(function(skill) { %>
         <li>
          <form action="/skills/<%= skill.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
          <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
             - 
           <%= skill.done ? 'acquired' : 'in progress' %>
         </li>
       <% }); %>
     </ul>
     <a href="/skills/new">Add Skill</a>

<%- include('../partials/footer') %>